{% extends "base.html" %}

{% block content %}
    {% include "page_header.html" %}
    <div class="container">
        <div class="row page-content">
            <div class="col-md-8">
                <h1>Events</h1>
                {% for p in pages|sort(attribute='title') %}
                    {% if p.category == 'event' %}
                        <h3><a href="/{{ p.slug }}.html">{{ p.title }}</a></h3>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
