{% extends "base.html" %}

{% block content %}
    <div class="front-page-text">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2 class="page-title"><a href="/">Let's Hack D.C.</a></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row page-content">
            <div class="col-md-8">
                <h1>Events</h1>
                {% for p in pages|sort(attribute='title') %}
                    {% if p.category == 'event' %}
                        <h3><a href="/{{ p.slug }}.html">{{ p.title }}</a></h3>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
        
{% endblock %}
