{% extends "base.html" %}

{% block content %}
    <div id="front-page-bg-img" data-stellar-background-ratio="0.2">

        <div class="front-page-text">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="front-page text-line-1">
                            Let's hack the D.C. software 
                            development community. 
                        </h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="front-page-text">
            <div class="container" style="margin-top: 400px;">
                <div class="row">
                    <div class="col-md-10">
                        <h2 class="front-page text-line-2">
                            This 
                            <a href="https://github.com/makaimc/letshackdc.github.io">open source</a> 
                            site provides data on
                            <a href="/companies.html">companies</a> 
                            and <a href="/events.html">events</a> 
                            in D.C. worth software developers' time based on
                            <a href="/criteria.html">testable criteria</a>.
                        </h2>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block javascript_body %}
    <script src="theme/js/stellar.js" type="text/javascript"></script>
    <script src="theme/js/jquery.backstretch.min.js" type="text/javascript"></script>
{% endblock %}

{% block js_ready %}
    var ua = navigator.userAgent,
      isMobileWebkit = /WebKit/.test(ua) && /Mobile/.test(ua);
    var screenWidth = screen.width;
    /* only do parallax on non-mobile */
    if(!isMobileWebkit) {
        $.stellar();
    } else {
        if(screenWidth > 800) {
            $('#front-page-bg-img').backstretch(
                'theme/img/washington-monument.jpg', {centeredY: false});
        } else {
            $('#front-page-bg-img').backstretch(
                'theme/img/monument-phone.jpg', {centeredY: false});
        }
    }
{% endblock %}
