{% extends "base.html" %}

{% block content %}
    {% if page.category == 'company' %}
        {% include 'company.html' %}
    {% elif page.category == 'about' %}
        {% include 'about.html' %}
    {% elif page.category == 'criteria' %}
        {% include 'criteria.html' %}
    {% endif %}
    <div class="front-page-text">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <h2 class="text-line-2">
                        Let's hack D.C. for better software development.
                    </h2> 
                </div>
            </div>
        </div>
    </div>
{% endblock %}
