{% extends "base.html" %}

{% block content %}
    <div class="front-page-text">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="page-title">Projects</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row page-content">
            <div class="col-md-8">
                {% for p in pages|sort(attribute='title') %}
                    {% if p.category == 'project' %}
                        <a href="/{{ p.slug }}.html">{{ p.title }}</a>
                    {% endif %}
                {% endfor %}
                Projects coming soon.
            </div>
        </div>
    </div>
        
{% endblock %}
